# Raw sequencing data
data/

# Large intermediate result folders
results/sam/
results/bam/
results/bcf/
results/trimmed/
results/orphaned/

# Sequencing and alignment files
*.fastq
*.fastq.gz
*.sam
*.bam
*.bai
*.bcf

# Index and archive files
*.tbi
*.zip

# Windows metadata
*:Zone.Identifier
